/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* Doc reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
}
:root {
    /* Primary clrs */
    --pri-clr-light-red: hsl(0, 100%, 67%);
    --pri-clr-orange-yellow: hsl(39, 100%, 56%);
    --pri-clr-green-teal: hsl(166, 100%, 37%);
    --pri-clr-cobalt-blue: hsl(234, 85%, 45%);
    
    /* Gradient bg clrs */
    --grad-light-slate-blue: hsl(252, 100%, 67%);
    --grad-light-royal-blue: hsl(241, 81%, 54%);

    /* Gadient cicle clrs */
    --grad-violet-blue: hsla(256, 72%, 46%, 1);
    --grad-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutrual clrs */
    --ntrl-white: hsl(0, 0%, 100%);
    --ntrl-pale-blue: hsl(221, 100%, 96%);
    --ntrl-light-lavender: hsl(241, 100%, 89%);
    --ntrl-dark-gray-blue: hsl(224, 30%, 27%);
}
html,
body {
    font-family: Hanken Grotesk, sans-serif, system-ui;
    background-color: var(--ntrl-white);
    color: var(--ntrl-dark-gray-blue);
    font-weight: 500;
    min-height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
}
/* Card Section */
.wrapper {
    max-width: 90rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 42.875rem;
}
.card {
    display: flex;
    border-radius: 1.25rem;
    min-height: 28.125rem;
    background: var(--ntrl-white);
    border-radius: 1.25rem;
    box-shadow: 0.625rem 0.688rem 0.625rem hsla(241, 72%, 46%, 0.09);
}
.card-left {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    padding: 1rem;
    border-radius: 1.25rem;
    color: var(--ntrl-white);
    background: linear-gradient(
        var(--grad-light-slate-blue), 
        var(--grad-light-royal-blue)
    );
}
.card-left h1 {
    font-size: 1.375rem;
    font-weight: 600;
    color: hsl(252, 100%, 89%);
}
.card-left h2 {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    top: 0.313rem;
}
.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.25rem;
    height: 12.25rem;
    border-radius: 50%;
    background: linear-gradient(
        var(--grad-violet-blue),
        var(--grad-persian-blue)
    );
}
.score h2 {
    font-size: 4.625rem;
    font-weight: 600;
}
.score > span {
    display: block;
    text-align: center;
    position: relative;
    top: -0.625rem;
    color: hsl(252, 100%, 76%);
    font-size: 1.125rem;
    font-weight: 600;
}
.result {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.result > p {
    text-align: center;
    font-size: 1rem;
    color: hsl(252, 100%, 87%);
    padding: 0 2.5rem;
}
.card-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding:  1rem;
    background-color: var(--ntrl-white);
    border-radius: 1.25rem;
    color: var(--ntrl-dark-gray-blue);
}
.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
}
.card-right h2 {
    position: relative;
    top: 1.25rem;
    left: 1.25rem;
    font-size: 1.375rem;
    font-weight: 600;
    margin-right: 5%;
}
img {
    padding-right: 10px;
}
.reaction p,
.memory p,
.verbal p,
.visual p {
    flex: 1;
    font-size: 1.125rem;
    font-weight: 600;
}
.reaction span,
.memory span,
.verbal span,
.visual span {
    font-weight: 600;
    font-size: 1.125rem;
}
.reaction span span,
.memory span span, 
.verbal span span, 
.visual span span {
    color: darkgray;
    font-size: 1.125rem;
}
.reaction p {
    color: var(--pri-clr-light-red);
}
.memory p {
    color: var(--pri-clr-orange-yellow);
}
.verbal p {
    color: var(--pri-clr-green-teal);
}
.visual p {
    color: var(--pri-clr-cobalt-blue);
}

.reaction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0.625rem;
    background: hsl(0, 100%, 97%);
    font-size: 1rem important;
    border-radius: 0.5rem;
    width: 90%;
    margin: 1.125rem 0;
    height: 3.438rem;
}
.memory {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0.625rem;
    background: hsl(39, 100%, 95%);
    border-radius: 0.5rem;
    width: 90%;
    margin-bottom: 1.125rem;
    height: 3.438rem;
}
.verbal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0.625rem;
    background: hsl(166, 100%, 95%);
    border-radius: 0.5rem;
    width: 90%;
    margin-bottom: 1.125rem;
    height: 3.438rem;
}
.visual {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 1.125rem;
    padding: 0 0.625rem;
    background: hsl(234, 85%, 97%);
    border-radius: 0.5rem;
    width: 90%;
    margin-bottom: 1.125rem;
    height: 3.438rem;
}
button {
    position: relative;
    top: 1.25rem;
    font: inherit;
    outline: none;
    border: none;
    width: 90%;
    height: 3.438rem;
    border-radius: 1.875rem;
    font-size: 18px;
    font-weight: 500;
    color: var(--ntrl-white);
    background-color: var(--ntrl-dark-gray-blue);
}
button:hover {
    background: linear-gradient(
        var(--grad-light-slate-blue), 
        var(--grad-light-royal-blue)
    )
}
.author {
    position: relative;
    top: 3px;
    color: inherit;
    font-size: 0.765rem;
}
.author a {
    color: inherit;
    font-size: 0.765rem;
}
.author a:hover {
    color: var(--grad-light-royal-blue);
}

/* Media Query */
@media (max-width: 42.188rem) {
    .card {
        flex-direction: column;
    }
    .card-left {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .reaction,
    .memory,
    .verbal,
    .visual,
    button {
        margin: 8px 0;
    }
    .card-right h2 {
        position: relative;
        top: 0.313rem;
        left: 1.25rem;
        margin-right: 5%;
    }
    .card-right .summary button {
        position: relative;
        top: 0.625rem;
    }
    .author-credit {
        position: relative;
        top: 0.188rem;
        color: inherit;
        font-size: 0.565rem;
    }
    .author-credit a {
        color: inherit;
        font-size: 0.565rem;
    }
}